.first {
		background-color:#f7f9f7;
		border-style: solid;
		border-width: 2px;

}
.second{
		background-color:#EAEFEB;
		border-style: solid;
		border-width: 2px;


}

h3 {
	color:black;
	font-family: Arial;
}

p {
	font-family:Arial;
	font-size:12px;
}

.button {

	background-color: #F9AEF0;
	border: none;
	color: white;



}
